body {
    margin: 0;
    padding: 0;
}

.calculadora {
    background: rgb(19, 45, 63);
    width: 200px;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 10px 10px rgba(71, 122, 216, 0.808);
}

.calculadora input {
    background: rgba(212, 204, 204, 0.307);
    color: rgba(255, 255, 255, 0.739);
    border-radius: 10px;
    padding: 8px;
}

#btnCalc {
    background: rgb(10, 21, 58);
    margin-top: 20px;
    padding: 8px;
}

#btnCalc:hover {
    background: rgb(23, 19, 49);
    color: white;
    cursor: pointer;
}

#psTotal {
    background: rgb(37, 50, 80);
    color: white;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.spmes {
    width: 100%;
    background: rgb(34, 38, 82);
    lighting-color: rgb(33, 61, 119);
    border-radius: 20px;
    border-style: dashed;
    border-color: rgb(37, 41, 100);
    border-width: 3px;
} 
